ICE/icp5/Scource/icp5.txt
[{"id":"6d647551.6a517c","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"cfca3e46.9342d","type":"openweathermap","z":"6d647551.6a517c","name":"","wtype":"current","lon":"","lat":"","city":"kansas city","country":"United States","language":"en","x":330,"y":80,"wires":[["139ba595.dd58fa","d804954e.7df098","4f619483.3a786c"]]},{"id":"aee5bfe3.1efde","type":"inject","z":"6d647551.6a517c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90.99999237060547,"y":80.00002431869507,"wires":[["cfca3e46.9342d","5673638a.952e8c"]]},{"id":"e59f7806.4702b8","type":"http in","z":"6d647551.6a517c","name":"","url":"/weatherdata","method":"get","upload":false,"swaggerDoc":"","x":130,"y":640,"wires":[["5673638a.952e8c"]]},{"id":"d804954e.7df098","type":"http response","z":"6d647551.6a517c","name":"","statusCode":"","headers":{},"x":750,"y":140,"wires":[]},{"id":"1e72679.f7c4698","type":"websocket in","z":"6d647551.6a517c","name":"","server":"82da4fe.d63e7b","client":"","x":750,"y":340,"wires":[["39642456.f7f8dc","f9aa7e92.b6fc3"]]},{"id":"139ba595.dd58fa","type":"websocket out","z":"6d647551.6a517c","name":"","server":"82da4fe.d63e7b","client":"","x":750,"y":80,"wires":[]},{"id":"39642456.f7f8dc","type":"debug","z":"6d647551.6a517c","name":"Socket","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":240,"wires":[]},{"id":"f9aa7e92.b6fc3","type":"file","z":"6d647551.6a517c","name":"","filename":"weatherdata","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1030,"y":380,"wires":[[]]},{"id":"890ef20c.4f677","type":"switch","z":"6d647551.6a517c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"str"},{"t":"btwn","v":"80","vt":"num","v2":"60","v2t":"num"},{"t":"lte","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":690,"y":480,"wires":[["16fa3233.2a312e"],["d14fc756.f72f28"],["e4de701f.f7abd"]]},{"id":"630b577e.354fe8","type":"change","z":"6d647551.6a517c","name":"Upper case for the header","rules":[{"t":"change","p":"payload","pt":"msg","from":"Weather update","fromt":"str","to":"WEATHER UPDATE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":640,"wires":[["6cd1f70e.3b7cc8"]]},{"id":"6cd1f70e.3b7cc8","type":"debug","z":"6d647551.6a517c","name":"Upper case","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":640,"wires":[]},{"id":"16fa3233.2a312e","type":"debug","z":"6d647551.6a517c","name":"temp >35","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":480,"wires":[]},{"id":"d14fc756.f72f28","type":"debug","z":"6d647551.6a517c","name":"10 < temp > 35","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":520,"wires":[]},{"id":"3a881f46.52344","type":"range","z":"6d647551.6a517c","minin":"-17.8","maxin":"40","minout":"0","maxout":"104","action":"scale","round":false,"property":"payload","name":"","x":400,"y":460,"wires":[["890ef20c.4f677"]]},{"id":"4f619483.3a786c","type":"function","z":"6d647551.6a517c","name":"Extra data","func":"msg.payload = msg.payload['tempc']\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["3a881f46.52344"]]},{"id":"e4de701f.f7abd","type":"debug","z":"6d647551.6a517c","name":"temp < 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":580,"wires":[]},{"id":"5673638a.952e8c","type":"function","z":"6d647551.6a517c","name":"Extra data","func":"msg.payload = \"Weather update:\" + msg.payload['description']\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":640,"wires":[["33d5c99f.bdc726"]]},{"id":"33d5c99f.bdc726","type":"rbe","z":"6d647551.6a517c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":640,"wires":[["630b577e.354fe8"]]},{"id":"82da4fe.d63e7b","type":"websocket-listener","z":"","path":"wss://echo.websocket.org","wholemsg":"false"}]