ICE/ICE7/Scource/flow4-1.json
[{"id":"c2daaf93.837b1","type":"tab","label":"Flow 9","disabled":false,"info":""},{"id":"c97e1e1b.9cf85","type":"exec","z":"c2daaf93.837b1","command":"python king1.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":300,"y":200,"wires":[["1f40a3a0.7d402c"],[],[]]},{"id":"bb174b5d.0fb2a8","type":"inject","z":"c2daaf93.837b1","name":"","topic":"message","payload":"\"message from r pi\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[["c97e1e1b.9cf85"]]},{"id":"1f40a3a0.7d402c","type":"debug","z":"c2daaf93.837b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":200,"wires":[]}]