ICE/ICE7/Scource/flow3.json
[{"id":"7fc4f064.8d74f","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"dee1c2f9.fab84","type":"rpi-gpio out","z":"7fc4f064.8d74f","name":"LED","pin":"11","set":"","level":"0","freq":"","out":"out","x":610,"y":60,"wires":[]},{"id":"ed42951.7f7e568","type":"rpi-gpio out","z":"7fc4f064.8d74f","name":"LED","pin":"3","set":"","level":"0","freq":"","out":"out","x":710,"y":220,"wires":[]},{"id":"a5e28065.70716","type":"rpi-gpio out","z":"7fc4f064.8d74f","name":"LED","pin":"12","set":"","level":"0","freq":"","out":"out","x":630,"y":360,"wires":[]},{"id":"4e292b75.7035b4","type":"random","z":"7fc4f064.8d74f","name":"","low":"0","high":"1","inte":"true","property":"payload","x":380,"y":100,"wires":[["dee1c2f9.fab84"]]},{"id":"a86f4c01.ef0e2","type":"random","z":"7fc4f064.8d74f","name":"","low":"0","high":"1","inte":"true","property":"payload","x":460,"y":200,"wires":[["ed42951.7f7e568"]]},{"id":"be1d95c2.705e18","type":"random","z":"7fc4f064.8d74f","name":"","low":"0","high":"1","inte":"true","property":"payload","x":400,"y":320,"wires":[["a5e28065.70716"]]},{"id":"277a162d.3ccd5a","type":"inject","z":"7fc4f064.8d74f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["4e292b75.7035b4","a86f4c01.ef0e2","be1d95c2.705e18"]]}]