LAB/lab2/scource/flows.json
[{"id":"48b51981.b67048","type":"serial in","z":"cbbd3d7c.e8d42","name":"","serial":"b8ec712a.8044d","x":190,"y":300,"wires":[["a7c2dcaf.8fd59","96b6e225.bfa16"]]},{"id":"a7c2dcaf.8fd59","type":"debug","z":"cbbd3d7c.e8d42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":480,"wires":[]},{"id":"96b6e225.bfa16","type":"function","z":"cbbd3d7c.e8d42","name":"function","func":"var input = msg.payload.split(\",\");\n\nvar light = parseFloat(input[0]);\nvar dust = parseFloat(input[1]);\nvar heart = parseFloat(input[2]);\nvar temp = parseFloat(input[3]);\nvar pressure = parseFloat(input[4]);\nvar altitude = parseFloat(input[5]);\nvar twitter = \"light: \" + light + \"\\n\" +\"dust: \" + dust + \"\\n\" +\"heart: \" + heart + \"\\n\" +\"Temperature: \" + temp + \"\\n\" + \"Pressure:\" + pressure + \"\\n\" + \"Altitude:\" + altitude;\n\nvar msg1 = {payload:light};\nvar msg2 = {payload:dust};\nvar msg3 = {payload:heart};\nvar msg4 = {payload:temp};\nvar msg5 = {payload:pressure};\nvar msg6 = {payload:altitude};\nvar msg7 = {payload:twitter};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6,msg7];","outputs":7,"noerr":0,"x":460,"y":200,"wires":[["ec0631d9.91b05"],["bcc669ce.cb9c38"],["b78444af.b48418"],["b0db8b48.3148b8"],["c8ceba5.a777148"],["c340161.ba4b4e8"],["87a0dd09.75cd4"]]},{"id":"b0db8b48.3148b8","type":"ui_chart","z":"cbbd3d7c.e8d42","name":"","group":"2e5aa899.4a0478","order":0,"width":"8","height":"3","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":730,"y":220,"wires":[[],[]]},{"id":"c8ceba5.a777148","type":"ui_chart","z":"cbbd3d7c.e8d42","name":"","group":"2e5aa899.4a0478","order":1,"width":"8","height":"3","label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":720.9999923706055,"y":256.99999809265137,"wires":[[],[]]},{"id":"c340161.ba4b4e8","type":"ui_chart","z":"cbbd3d7c.e8d42","name":"","group":"2e5aa899.4a0478","order":2,"width":"8","height":"3","label":"Altitude","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":720,"y":291.00000190734863,"wires":[[],[]]},{"id":"ec0631d9.91b05","type":"ui_chart","z":"cbbd3d7c.e8d42","name":"","group":"2e5aa899.4a0478","order":2,"width":"8","height":"3","label":"Light","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":710,"y":100,"wires":[[],[]]},{"id":"b78444af.b48418","type":"ui_chart","z":"cbbd3d7c.e8d42","name":"","group":"2e5aa899.4a0478","order":2,"width":"8","height":"3","label":"BPM","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":710,"y":180,"wires":[[],[]]},{"id":"bcc669ce.cb9c38","type":"ui_chart","z":"cbbd3d7c.e8d42","name":"","group":"2e5aa899.4a0478","order":2,"width":"8","height":"3","label":"Concentration","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":740,"y":140,"wires":[[],[]]},{"id":"87a0dd09.75cd4","type":"twitter out","z":"cbbd3d7c.e8d42","twitter":"","name":"Tweet","x":750,"y":380,"wires":[]},{"id":"b8ec712a.8044d","type":"serial-port","z":"cbbd3d7c.e8d42","serialport":"COM5","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":""},{"id":"2e5aa899.4a0478","type":"ui_group","z":"","name":"Default","tab":"8ec3d048.b4fcd","disp":true,"width":"24","collapse":false},{"id":"8ec3d048.b4fcd","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]